/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */


/* =============================================================================
   My CSS
   ========================================================================== */

/* ---- base ---- */



/* ---- stats.js ---- */

.count-particles{
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles{
  font-size: 1.1em;
}

.count-particles{
  border-radius: 0 0 3px 3px;
}


/* ---- particles.js container ---- */

#particles-js{
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index:-1; 
  width: 100%;
  height: 100%;
  background:url(../img/bg-pattern.png),linear-gradient(to left,#7b4397,#dc2430)
}

